<!doctype html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
<script
  type="application/javascript"
  src="https://dev-shopify.naviplus.app/naviplus/frontend/start.js.php"
  shop="shopifas.com"
  async  
  onerror="var t=this,s=document.createElement('script'); for(var i=0;i<t.attributes.length;i++){ var a=t.attributes[i];if(a.name!=='src' && a.name!=='onerror') s.setAttribute(a.name,a.value);} s.src='https://flov.naviplus.app/start.js';document.head.appendChild(s);">
</script>
{% include header.html %}

{{ content }}

{% include footer.html %}
</body>
</html>


